/* Tag styles */
body {
  background-image: url('pics/bg-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Class styles */
.main-content {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height: 100vh;
}

.palette-container {
  background-color: rgba(255 , 255 , 255 , 0.8);
  box-shadow: 0 10px 6px -6px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 50%;
}

.main-title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 5px;
  text-align: center;
  font-family: Tangerine, cursive;
}

.aim-description {
  font-family: Balsamiq Sans, cursive;
  font-size: 1.25em;
  margin: 1em 0;
  text-align: center;
}

.palette-size-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.palette-size-label {
  font-family: Balsamiq Sans, cursive;
  font-size: 1.25em;
  margin: 1em 10px;
}

.palette-size-input {
  font-size: 1.25em;
  margin: 1em 10px;
  width: 2em;
}

.refresh-btn-style {
  font-family: Balsamiq Sans, cursive;
  font-size: 1.25em;
  margin: 1em 10px;

}

.fa-redo {
  margin: 0 10px;
}

.color-palette-style {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.color {
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  margin: 5px;
  opacity: 1.0;
  transition: all 300ms;
  width: 50px;
}

.black {
  background-color: black;
}

.color2 {
  background-color: red;
}

.color3 {
  background-color: green;
}

.color4 {
  background-color: blue;
}

.board-container {
  background-color: rgba(255 , 255 , 255 , 0.8);
  box-shadow: 0 10px 6px -6px black;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.actions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-family: Balsamiq Sans, cursive;
  overflow: auto;
}

.customization-container {
  margin: 0 0 1em 0;
}

.input-style {
  font-size: 1em;
  width: 2em;
}

.create-btn {
  font-size: 20px;
}

.clear-btn {
  font-family: Balsamiq Sans, cursive;
  font-size: 1em;
}

.fa-eraser {
  margin: 0 10px;
}

.pixel-board-style {
  display: flex;
  flex-wrap: wrap;
  margin: 1em auto;
  width: 210px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

/* Inherit styles */
button:hover {
  cursor: pointer;
}

.color:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: all 300ms;
}
