/* Tag styles */
body {
  background-attachment: fixed;
  background-image: url('pics/bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: Caveat, cursive;
}

/* Class Styles */
.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: gray;
}

.tasks-container {
  background-color: rgb(193 , 191 , 202);
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  height: 65vh;
  overflow-y: auto;
  position: fixed;
  right: 14vw;
  width: 37vw;
}

.main-title {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
}

.instruction {
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.btns-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}

.add-task-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.input-box {
  font-family: Caveat, cursive;
  font-size: 1.5em;
  max-width: 100%;
  width: 15rem;
}

.move-container {
  display: flex;
  justify-content: center;
}

.tasks-list {
  overflow-y: auto;
}

.task {
  font-size: 3.5vh;
  user-select: none;
}

.aside-container {
  bottom: 5vh;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  position: fixed;
  right: 60vw;
  width: 35vw;
}

.actions-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.action {
  align-items: center;
  background-color: rgb(193 , 191 , 202);
  border: 3px solid rgb(75 , 72 , 79);
  box-shadow: inset 0 0 1em grey, 0 0 0.5em black;
  color: rgb(75 , 72 , 79);
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  font-weight: 700;
  justify-content: center;
  margin: 1em 0;
  padding: 0.5em;
  transition: all 300ms;
}

.nav-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.nav-btn {
  background-color: transparent;
  border: none;
  border-radius: 15%;
  color: rgb(193 , 191 , 202);
  font-size: 3em;
  margin: 10px;
  transition: all 300ms;
}


/* Inherit Styles */
.btns-container button {
  background-color: transparent;
  border: none;
  font-size: 2.5em;
  margin: 10px;
  transition: all 300ms;
}

.btns-container button:hover {
  transform: scale(1.25);
  transition: all 300ms;
}

.actions-container .fas {
  margin: 10px;
}

.actions-container .action:hover {
  align-items: center;
  background-color:rgb(75 , 72 , 79);
  border: 3px solid rgb(193 , 191 , 202);
  box-shadow: inset 0 0 1em black, 0 0 0.5em gray;
  color: rgb(193 , 191 , 202);
  transform: scale(1.1);
  transition: all 300ms;

}

button:hover {
  cursor: pointer;
}

.github-btn:hover {
  background-color: black;
  border-radius: 15%;
  color: rgb(218, 209, 209);
  transition: all 300ms;
}

.linkedin-btn:hover {
  background-color: rgb(10, 81, 114);
  border-radius: 15%;
  color: rgb(218, 209, 209);
  transition: all 300ms;
}
