.top-bar {
  align-items: center;
  background: linear-gradient(to bottom, #4D68A1, #3B5998);
  border: 3px solid #3B5998;
  display: flex;
  height: 82px;
  justify-content: space-between;
  max-width: 100%;
}

.facebook-logo {
  align-self: flex-end;
  height: 85%;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}