.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.prev-button, .next-button {
  background-color: transparent;
  font-size: 3rem;
  border: none;
  outline: none;
}

.items {
  height: ($card-height + 15px);
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
