.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.prev-button, .next-button {
  background-color: transparent;
  border: none;
  color: #999999;
  font-size: 3rem;
  outline: none;

  &:hover {
    color: #444444;
  }

  @media screen and (max-width: 768px) {
    color: #444444;
  }
}
