.blured {
  background-color: #00000080;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.cart {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  transition: ease-in-out 0.3s;
  width: 35%;
  z-index: 2;

  @media screen and (max-width: 768px) {
    width: 50%;
  }

  @media screen and (max-width: 425px) {
    width: 100%;
  }
}

.cart__visible {
  right: 0;
}

.cart__hidden {
  right: -35%;

  @media screen and (max-width: 768px) {
    right: -50%;
  }

  @media screen and (max-width: 425px) {
    right: -100%;
  }
}

.cart__close {
  background-color: black;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  height: 2.5rem;
  left: 0;
  outline: none;
  position: absolute;
  width: 2.5rem;
}

.cart__title {
  border-bottom: 3px solid black;
  font-size: 2rem;
  text-align: center;
}

.cart__price {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.cart__items {
  margin: 1.5em;
  padding: 0;
}

.cart__item {
  border-bottom: 2px solid #888888;
  list-style: none;
  margin-top: 1em;
  padding-bottom: 0.5em;

  &:last-child {
    border-bottom: none;
  }
}
