.header {
  align-items: center;
  background-color: $primary;
  box-sizing: border-box;
  color: $text-on-p;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1.5rem 3rem;
  width: 100%;
}

.main-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0 0  2.5px black;
}

.show-cart-button {
  align-items: center;
  background-color: $text-on-p;
  border: none;
  border-radius: 100%;
  display: flex;
  font-size: 1.25rem;
  height: 3rem;
  justify-content: center;
  outline: none;
  position: relative;
  width: 3rem;
}

.fa-shopping-basket {
  color: $text-on-p;
  -webkit-text-stroke: 1.5px #444444;
}

.cart__count {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-color: black;
  border-radius: 100%;
  top: -0.5rem;
  right: -0.5rem;
  color: #ffffff;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
