@import 'helpers/variables';
@import 'helpers/mixins';

@import 'layout/header';
@import 'layout/main';

body {
  box-sizing: border-box;
  font-family: arial;
  height: 100vh;
  margin: 0;
  padding: 0;
}
